<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
    <form class="ui form segment" action="/getname" method="post" enctype="multipart/form-data">
        <body>
            <h1><font size='8' color='red'> <%= title %> </font> </h1>
            <br/>

            <div class="students">
                <h1><font color='blue'> student </font></h1>
                <div class="student1">
                    <h2>student 1</h2>
                    <label>name:</label>
                    <input placeholder="name" type="text" name="stuname">
                    <label>class:</label>
                    <input placeholder="class" type="text" name="classname">                
                </div>
                <div class="student2">
                    <h2>student 2</h2>
                    <label>name:</label>
                    <input placeholder="name" type="text" name="stuname">
                    <label>class:</label>
                    <input placeholder="class" type="text" name="classname">
                </div>            
            </div>    
            <br/>
            <br/>

            <div class="teacher">
                    <h1><font color='blue'> teacher </font></h1>
                    <div class="teacher1">
                        <h2>teacher 1</h2>
                        <label>name:</label>
                        <input placeholder="name" type="text" name="tname">
                        <label>class:</label>
                        <input placeholder="class" type="text" name="classname">                
                    </div>
                    <div class="teacher2">
                        <h2>teacher 2</h2>
                        <label>name:</label>
                        <input placeholder="name" type="text" name="tname">
                        <label>class:</label>
                        <input placeholder="class" type="text" name="classname">
                    </div>            
            </div>

            <br/>
            <br/>
            <input type="submit" class="ui button fluid" value="登录"> 
        </body>
    </form>    

</html>

           